body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/182/original/sky.jpg?1677421969");
  background-size: cover;
  max-width: 600px;
  max-height: 100%;
  
}
h3 {
  text-align: center;
  margin: 7px;
  padding: 3px;
  color: #dbd8e3;
}
h4 {
  text-transform: capitalize;
}
li {
  display: inline;
  margin: 10px;
  padding: 10px;
  text-transform: capitalize;
}

footer {
  display: inline;
  margin: 2px;
  font-size: 15px;
  font-weight: bold;
}

.container {
  color: #dbd8e3;
  background: #352f44;
  opacity: 0.7;
  max-width: 100%;
  border-radius: 35px;
  border: 1px solid black;
  text-align: center;
  margin: 40px auto;
  padding-bottom: 15px;
  
}
.location {
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid grey;
}
.clock {
  font-size: 14px;
}
.search-bar {
  margin: 5px;
  padding: 10px;
}
.search {
  margin: 3px;
  color: black;
  border-radius: 5px;
  border: 2px solid grey;
}
.currentLocation {
  margin: 4px;
  color: black;
  border-radius: 5px;
  border: 2px solid grey;
}

.temp-box {
  border: 4px solid #dbd8e3;
  border-radius: 10px;
  padding: 10px;
}
.tempLink {
  text-decoration: none;
  color: #dbd8e3;
}
.weather-forecast {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align:center;
  padding: 5px;
  color: #dbd8e3
  
}
.weather-forecast-date{
  font-size:20px;
  opacity:0.7;
}

.weather-forecast-temperature {
  font-size:18px;
}
.weather-forecast-minimum {
  opacity: 0.6;
}


.tempLink:hover {
  background-color: #dbd8e3;
  opacity: 0.7;
  border-radius: 50px;
  color: #352f44;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
